<link rel="stylesheet" href="/Templates 19/index.css">
<nav>
    <div class="navwrapper">
        <ul>
          <li><a href="#section_1">Section 1</a></li>
          <li><a href="#section_2">Section 2</a></li>
          <li><a href="#section_3">Section 3</a></li>
          <li><a href="#section_4">Section 4</a></li>
        </ul>
        <span class="indicator"></span>
    </div>
  </nav>
  <main id="main">
    <aside class="stuck">
      <h1>
        <span invisible>x</span>
        <span class="slash">/</span>
        <span> 4</span>
      </h1>
    </aside>
    <section id="section_1">
      <h1>
        <span>1</span>
        <span invisible class="slash">/</span>
        <span invisible>4</span>
      </h1>
    </section>
    <section id="section_2">
      <h1>
        <span>2</span>
        <span invisible class="slash">/</span>
        <span invisible>4</span>
      </h1>
      </div>
    </section>
    <section id="section_3">
      <h1>
        <span>3</span>
        <span invisible class="slash">/</span>
        <span invisible>4</span>
      </h1>
      </div>
    </section>
    <section id="section_4">
      <h1>
        <span>4</span>
        <span invisible class="slash">/</span>
        <span invisible>4</span>
      </h1>
      </div>
    </section>
  </main>
  <script src="/Templates 19/index.js"></script>