<!DOCTYPE html>
<link rel="stylesheet" href="/Templates 9/index.css">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="container">
      <form>
        <input type="radio" name="slide" id="slide-1" title="Home" autofocus checked/>
        <input type="radio" name="slide" id="slide-2" title="Projects" autofocus/>
        <input type="radio" name="slide" id="slide-3" title="Education" autofocus/>
        <input type="radio" name="slide" id="slide-4" title="Plugins" autofocus/>
        <input type="radio" name="slide" id="slide-5" title="About Us" autofocus/>
        <div class="label-wrapper">
          <label for="slide-1" id="slide-1" class="label-item">
            <div class="label-item-content">
              <h1>Portfolio</h1>
              <span class="footnote"
                >Can use keyboard to move between pages!</span
              >
            </div>
          </label>
          <label for="slide-2" id="slide-2" class="label-item">
            <div class="label-item-content">
              <h1>Practical Projects</h1>
            </div>
          </label>
          <label for="slide-3" id="slide-3" class="label-item">
            <div class="label-item-content">
              <h1>The Last Web Design Courses</h1>
            </div>
          </label>
          <label for="slide-4" id="slide-4" class="label-item">
            <div class="label-item-content">
              <h1>Plugins and Updated Technology</h1>
            </div>
          </label>
          <label for="slide-5" id="slide-5" class="label-item">
            <div class="label-item-content">
              <h1>About Us</h1>
            </div>
          </label>
        </div>
      </form>
    </main>
  </body>
</html>
